.form {
    &__title {
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;

        &_small {
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
            padding-bottom: 0;
        }
    }

    &__row {
        display: flex;
        justify-content: center;
    }

    // &__input {}
}
