{% include "components/header.twig" with {"__scope":header} %}
{% include "components/offer.twig" with {"__scope":offer} %}
{% include "components/features.twig" with {"__scope":features} }
{% include "components/request.twig" with {"__scope":request} %}
{% include "components/decisions.twig" with {"__scope":decisions} %}
{% include "components/advantage.twig" with {"__scope":advantage} %}
{% include "components/application.twig" with {"__scope":application} %}
{% include "components/footer.twig" with {"__scope":footer} %}

<!--div id='calc'>
    <select id='calc_city_1'
            data-calc_city='Москва-0-true;Абакан-179;Анадырь-373;Анапа-113;'>
    </select>  

    <button data-calc_change>
        <->
    </button>

    <select id='calc_city_2'
            data-calc_city='Москва-0-true;Абакан-179;Анадырь-373;Анапа-113;'>
    </select> 

    <input type='number' min='30' value='30' data-calc_weight>
    
    <button data-calc_btn>
        Рассчитать
    </button>    
</div>
<div id='result'>
    <p>
        Стоимость доставки
    </p>
    <p>
        <span data-calc_infoCity>Москва-Брест</span> === <span data-calc_infoWeight>30кг.</span>
    </p>
    <p data-calc_price>
        10 000руб.
    </p>
    <button data-calc_btnBack>
        Пересчитать
    </button> 
</div-->