<div id='modal_form' class='modal modalCloseOverlay'>
    <div class='modal__container'>
        <img class='modal__close' src='./icon/cancel.svg'>
        <div class='modal__head text text_md'>
            Получить консультацию
        </div>
        <div class='modal__body text text_slim text_justify text_sm'>
            {%  include 'modules/form_user.twig'  %}

            <button class='modal__form-btn btn btn_wide'>
                Отправить запрос
            </button>
        </div>
    </div>
</div>